.nav-bar {
    width: 1096px;
    padding: 19px 49px;
    background-color: white;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 84px;
    margin: auto;
    position: absolute;
    z-index: 1;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content:center;
    margin-top: 40px;
}
